<div class="content-header row">
</div>
<div class="content-body">
    <!-- users edit start -->
    <section class="users-edit">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <!-- users edit media object start -->
                    <div class="media mb-2">
                        <a class="mr-2 my-25" href="#">
                            <img src="assets/images/portrait/small/avatar-s-11.jpg" alt="users avatar" class="users-avatar-shadow rounded" height="90" width="90">
                        </a>
                        <div class="media-body mt-50">
                            <h4 class="media-heading">John Doe</h4>
                            <div class="col-12 d-flex mt-1 px-0">
                                <a href="#" class="btn btn-primary d-none d-sm-block mr-75">Cambiar</a>
                                <a href="#" class="btn btn-primary d-block d-sm-none mr-75"><i class="feather icon-edit-1"></i></a>
                                <a href="#" class="btn btn-outline-danger d-none d-sm-block">Eliminar</a>
                                <a href="#" class="btn btn-outline-danger d-block d-sm-none"><i class="feather icon-trash-2"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- users edit media object ends -->
                    <!-- users edit account form start -->
                    <form novalidate>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <div class="controls">
                                        <label>Usuario</label>
                                        <input type="text" class="form-control" placeholder="Username" value="adoptionism744" required data-validation-required-message="This username field is required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="controls">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control" placeholder="Name" value="Angelo Sashington" required data-validation-required-message="This name field is required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="controls">
                                        <label>Correo Electrónico</label>
                                        <input type="email" class="form-control" placeholder="Email" value="angelo@sashington.com" required data-validation-required-message="This email field is required">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">

                                <div class="form-group">
                                    <label>Status</label>
                                    <select class="form-control">
                                        <option>Active</option>
                                        <option>Blocked</option>
                                        <option>deactivated</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Rol</label>
                                    <select class="form-control">
                                        <option>Admin</option>
                                        <option>User</option>
                                        <option>Staff</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Compañía</label>
                                    <input type="text" class="form-control" value="WinDon Technologies Pvt Ltd" placeholder="Company name">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="table-responsive border rounded px-1 ">
                                    <h6 class="border-bottom py-1 mx-1 mb-0 font-medium-2"><i class="feather icon-lock mr-50 "></i>Permission</h6>
                                    <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                                <th>Modulo</th>
                                                <th>Leer</th>
                                                <th>Escribir</th>
                                                <th>Crear</th>
                                                <th>Eliminar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Usuarios</td>
                                                <td>
                                                    <div class="custom-control custom-checkbox"><input type="checkbox" id="users-checkbox1" class="custom-control-input" checked>
                                                        <label class="custom-control-label" for="users-checkbox1"></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="custom-control custom-checkbox"><input type="checkbox" id="users-checkbox2" class="custom-control-input"><label class="custom-control-label" for="users-checkbox2"></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="custom-control custom-checkbox"><input type="checkbox" id="users-checkbox3" class="custom-control-input"><label class="custom-control-label" for="users-checkbox3"></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="custom-control custom-checkbox"><input type="checkbox" id="users-checkbox4" class="custom-control-input" checked>
                                                        <label class="custom-control-label" for="users-checkbox4"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Compañías</td>
                                                <td>
                                                    <div class="custom-control custom-checkbox"><input type="checkbox" id="users-checkbox5" class="custom-control-input"><label class="custom-control-label" for="users-checkbox5"></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="custom-control custom-checkbox"><input type="checkbox" id="users-checkbox6" class="custom-control-input" checked>
                                                        <label class="custom-control-label" for="users-checkbox6"></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="custom-control custom-checkbox"><input type="checkbox" id="users-checkbox7" class="custom-control-input"><label class="custom-control-label" for="users-checkbox7"></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="custom-control custom-checkbox"><input type="checkbox" id="users-checkbox8" class="custom-control-input" checked>
                                                        <label class="custom-control-label" for="users-checkbox8"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Sedes</td>
                                                <td>
                                                    <div class="custom-control custom-checkbox"><input type="checkbox" id="users-checkbox9" class="custom-control-input" checked>
                                                        <label class="custom-control-label" for="users-checkbox9"></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="custom-control custom-checkbox"><input type="checkbox" id="users-checkbox10" class="custom-control-input" checked>
                                                        <label class="custom-control-label" for="users-checkbox10"></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="custom-control custom-checkbox"><input type="checkbox" id="users-checkbox11" class="custom-control-input"><label class="custom-control-label" for="users-checkbox11"></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="custom-control custom-checkbox"><input type="checkbox" id="users-checkbox12" class="custom-control-input"><label class="custom-control-label" for="users-checkbox12"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                <button type="submit" class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1">Guardar
                                    Cambios</button>
                                <button type="reset" class="btn btn-outline-warning">Limpiar</button>
                            </div>
                        </div>
                    </form>
                    <!-- users edit account form ends -->
                    
                </div>
            </div>
        </div>
    </section>
    <!-- users edit ends -->

</div>