
    <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h2 class="content-header-title float-left mb-0">Categorias</h2>
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item"><a>Categorias</a>
                            </li>
                            
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="content-body">

        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <!-- Data list view starts -->
                    <section id="data-list-view" class="data-list-view-header">
                        
            
                        <!-- DataTable starts -->
                        <div class="table-responsive">
                            <table id="dtCategories" class="table data-list-view">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>NOMBRE</th>
                                        <th>DESCRIPCIÓN</th>
                                        <th>ACCION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                        <!-- DataTable ends -->
            
                        <!-- add new sidebar starts -->
                        <div class="add-new-data-sidebar">
                            <div class="overlay-bg" id="bg-add-category"></div>
                            <div class="add-new-data" id="sn-add-category">
                                <div class="div mt-2 px-2 d-flex new-data-title justify-content-between">
                                    <div>
                                        <h4 class="text-uppercase">Agregar Categoría</h4>
                                    </div>
                                    <div class="hide-data-sidebar">
                                        <i class="feather icon-x"></i>
                                    </div>
                                </div>
                                <div class="data-items pb-3">
                                    <div class="data-fields px-2 mt-1">
                                        <div class="row">
                                            <div class="col-sm-12 data-field-col">
                                                <label for="name">Nombre</label>
                                                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="category.name">
                                            </div>
                                            <div class="col-sm-12 data-field-col">
                                                <label for="description">Descripción</label>
                                                <input type="text" class="form-control" id="description" name="description" [(ngModel)]="category.description">
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="add-data-footer d-flex justify-content-around px-3 mt-2">
                                    <div class="add-data-btn">
                                        <button class="btn btn-primary" (click)="registrarCategoria()">Agregar Categoría</button>
                                    </div>
                                    <div class="cancel-data-btn">
                                        <button class="btn btn-outline-danger">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- add new sidebar ends -->
            
                        <div class="add-new-data-sidebar">
                            <div class="overlay-bg" id="bg-edit-category"></div>
                            <div class="add-new-data" id="sn-edit-category">
                                <div class="div mt-2 px-2 d-flex new-data-title justify-content-between">
                                    <div>
                                        <h4 class="text-uppercase">Editar Categoria</h4>
                                    </div>
                                    <div class="hide-data-sidebar">
                                        <i class="feather icon-x"></i>
                                    </div>
                                </div>
                                <div class="data-items pb-3">
                                    <div class="data-fields px-2 mt-1">
                                        <div class="row">
                                            <div class="col-sm-12 data-field-col">
                                                <label for="name-edit">Nombre</label>
                                                <input type="text" class="form-control" id="name-edit" #name name="name" [(ngModel)]="category.name">
                                            </div>
                                            <div class="col-sm-12 data-field-col">
                                                <label for="description-edit">Descripción</label>
                                                <input type="text" class="form-control" id="description-edit" #description name="description" [(ngModel)]="category.description">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="add-data-footer d-flex justify-content-around px-3 mt-2">
                                    <div class="add-data-btn">
                                        <button class="btn btn-primary" (click)="actualizarCategoria(name, description)">Guardar Cambios</button>
                                    </div>
                                    <div class="cancel-data-btn">
                                        <button class="btn btn-outline-danger">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Data list view end -->
                </div>
            </div>
        </div>

    </div>
